
.CopyRightContainer{
    background-color:#3a3a3d;
    position: relative;
    top:0%;
    height: 50px;
}
  .copyright{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#3a3a3d;
    position: relative;
    padding: 1rem;
    top:0%; 

}
.copy1{
  position: relative;
  padding:0px 80px;
  font-size: .8rem;
  float: left;
}
.copy2{
    font-size: .8rem; 
    position: relative;
    padding:0px 80px;   
}
.Smart{
    color:springgreen;
}

@media only screen and (max-width:768px) { 
    .CopyRightContainer{
    background-color:#3a3a3d;
    position: relative;
    top: 1% !important;
    height: 55px;
}
}
/*=======================================MEDIA QUERY=======================*/
@media only screen and (max-width:568px) {
    .CopyRightContainer{
        background-color:#3a3a3d;
        position: relative;
        top:0%;
        height: 55px;
    }
      .copyright{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color:#3a3a3d;
        position: relative;
        padding: 0rem;
     
        top:-1px;
        
    
    }
.copy1{
    position: relative;
    left:0%;
    font-size: .7rem;
    top:0px;
  }
  .copy2{
      position: relative;
      left:0%;
      font-size: .7rem;
      top:-2px;
  } 
  .Smart{
      font-weight: 800;
      color:springgreen;
  }
}

