/*===========================*/
.DonatePage{
  width:100%; 
  height:auto;
    background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  margin-top: 0px !important;
  background:#f5f5f5;

  }
  .CarouselWrapper{
    position: relative;
    margin-bottom: 5%;
  }
  .carousel-inner img{
    width:60%;
    height:500px;
    margin: auto;
    object-fit:fill;
    position: relative;
    top:0px;
  
    
  }
  .DonatePage-Wrapper{
  margin:0px auto;
  text-align: center; 
  position: relative;
  width:80%;
  top: 50px;
  padding: 1.5rem;

  
  
  }
  .DonatePage-Wrapper h1{
   font-weight: bold;
   font-size: 60px;

    }
    .DonateScripture{
      font-weight:bold;
      font-size:1.2rem;
      padding: 2rem;
      width:100!important;

    }
       .DonatePage-p{
    
         font-size: 1.1rem;
         font-weight: bolder;
         color:tomato;
         font-style: italic; 
       }
    .AccountNum{
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .AccountNum h2{
        font-size:4rem;
      font-weight:bold;
      color:#ffff;
   text-shadow: 4px 4px 4px #000000;
    }
    .uba-img{
      width: 4rem;
      height: 4rem;
      padding-left:6px;
    }
  @media only screen and (max-width:1024px){
    .AccountNum{
      position: absolute;
      top:35%;
       left: 50%;
      transform: translate(-50%, -50%);
    
    }
    .AccountNum h2{
      font-size:3rem;
    font-weight:bold;
    color:#ffff;
 text-shadow: 4px 4px 4px #000000;
  }

  }

  @media only screen and (max-width:768px){
    
    .AccountNum{
      position: relative;
      top:-250px;
    }
    .AccountNum h2{
      font-size:2.5rem;
    font-weight:bold;
    color:#ffff;
 text-shadow: 4px 4px 4px #000000;
  }
  .CarouselWrapper{
    position: relative;
    margin-bottom: -5%;
  }
  
  }

  @media only screen and (max-width:568px){
   
    .AccountNum{
      position: relative;
      top:-120px;
    }

   
    .AccountNum h2{
      font-size:2rem;
    font-weight:bold;
    color:#ffff;
 text-shadow: 4px 4px 4px #000000;
  }
  .CarouselWrapper{
    position: relative;
    margin-bottom: -10%;
  }
  .carousel-inner img{
    width:60%;
    height:300px;
    margin: auto;
    object-fit:fill;
    position: relative;
    top:0px;
  
    
  }


  }

  @media only screen and (max-width:480px){
    .DonateScripture{
     
      width:100!important;

    }
    .uba-img{
      width: 3rem;
      height: 3rem;
      padding-left:6px;
    }
      
    .AccountNum{
      position: relative;
      top:-80px;
    }
   
    .AccountNum h2{
      font-size:1.5rem;
    font-weight:bold;
    color:#ffff;
 text-shadow: 4px 4px 4px #000000;
  }
  .CarouselWrapper{
    position: relative;
    margin-bottom: -20%;
  }
  .carousel-inner img{
    width:60%;
    height:300px;
    margin: auto;
    object-fit:fill;
    position: relative;
    top:0px;
  
    
  }

  }