  
*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
html, body {
  font-size: 15px;
  color: #222;
   font-family: "Quicksand", sans-serif;
  width: 100%!important;
  height: 100% !important;
}
.main_banner{
  width:100%;
  height:100vh;
  margin-bottom: -30px;
  background:url("../folwImages/twofive2.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
 }
.overlay{
  width:100%;
  position:absolute;
  height:100vh;
   top:50%;
  z-index:-1;
  left:50%;
  transform :translate(-50%, -50%);
  background-color:rgb(53, 51, 51);
  mix-blend-mode: overlay;
}
.Videostyle{
  width:100%;
  position:absolute;
  height:100vh;
  object-fit:cover;
  top:50%;
  z-index:-1;
  left:50%;
  transform :translate(-50%, -50%);
  opacity: .8;
}

/* .InnerWrapper{
  max-width: 900px!important;
  width: 60%;
  text-align: center;
  z-index: 1;
  position: relative;
  top: 50% !important;
  left:30%;
  transform :translate(-50%, -50%);
} */
.InnerWrapper{
  max-width: 900px!important;
  width: 60%;
  text-align: center;
  z-index: 1;
  position: relative;
  top: 40% !important;
  left:35%;
  transform :translate(-50%, -50%);
}
.InnerWrapper .InnerPara{
color: #fff;
font-size:4rem;
}
.InnerWrapper .Scripture{
      font-size: 1.5rem;
    font-style: italic;
    color: #fff;
    font-weight: bolder;
    background: #20c997!important;
    padding: 2px;
     border-radius: 50px;
    width:150px;
    margin: auto;
  }
 /*===========SECTIONTHREE------========================*/
    .sectionThree{
      width: 100%;
      height: 400px;
      background: linear-gradient(rgba(78, 78, 78, 0.3), rgba(0, 0, 0, 0.3)),
        url("../folwImages/dance2.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
    top:0px!important;
    position: relative;
    }  
    .sectionThree .para  {
      font-weight: bold;
      text-align: center;
      width: 85%!important;
      margin: auto;
      position: relative;
      top:120px;
    
   }
    .sectionThree .para p {
      font-size: 2rem;
      color:white;
  }
 
   
 .Scripture2 {
   font-size: 17px!important;
   font-style: italic;
   color: #fff;
   font-weight: bolder;
   background: #20c997!important;
   padding: 2px;
    border-radius: 50px;
   text-align: center;
   width:175px;
   margin: auto;
 
 }
 .Celebration {
  font-size: 2rem!important;
  font-style: italic;
  color: #fff;
  position: relative;
  top:15rem;
 width: 100% !important;
 padding: 25px;
 left:5%;
  }

    /*===========COVIDPAGE------========================*/
    .GuestWrapper{
      width:100%;
      height:650px;
      background-color: #e8ecec; 

    }
        .Covidwrapper{
      display: flex;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("../folwImages/congregation1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      width:80%;
        height:500px;
      margin: auto;
      position: relative;
      top: 10%!important;
      
    
    }
    .covidPara p{
      color:#fff;
      padding: 0px;
      font-size: 2rem;
      text-align:center;
    }
    .covidPara{
width:80%;
margin: auto;
    }

  /*=======================================================768px============================*/

  @media only screen and (max-width:1024px) {
    .InnerWrapper{
      max-width: 900px!important;
      width: 100%!important;
      text-align: center;
      z-index: 1;
      position: relative;
      top: 40% !important;
      left:50%;
      transform :translate(-50%, -50%);
    }
    .Celebration h3{
      font-size: 2.5rem!important;
      text-shadow: 5px 5px 5px #000;
    }
    .Celebration h4{
      font-size: 2.5rem!important;
      position: relative;
      top:-50px;
      color:#fff;
      text-shadow: 5px 5px 5px #000;

    }
    .Celebration {
      font-size: 2rem!important;
      width:100%;
      font-style: italic;
      color: #fff;
      position: relative;
      top:31rem;
     width: 100% !important;
     padding: 25px;
     left: 3%;
    text-align: center;
      }
    .InnerWrapper .InnerPara{
      color: #fff;
      font-size:3.4rem;
      text-shadow: 5px 5px 5px #000;
      }
  }

  @media only screen and (max-width:768px) {
    .InnerWrapper{
      max-width: 900px!important;
      width: 100%!important;
      text-align: center;
      z-index: 1;
      position: relative;
      top: 40% !important;
      left:50%;
      transform :translate(-50%, -50%);
    }
    .Celebration h3{
      font-size: 2.5rem!important;
      text-shadow: 5px 5px 5px #000;
    }
    .Celebration h4{
      font-size: 2.5rem!important;
      position: relative;
      top:-50px;
      color:#fff;
      text-shadow: 5px 5px 5px #000;

    }
    .Celebration {
      font-size: 2rem!important;
      width:100%;
      font-style: italic;
      color: #fff;
      position: relative;
      top:22rem;
     width: 100% !important;
     padding: 25px;
     left: 3%;
    text-align: center;
      }
    .InnerWrapper .InnerPara{
      color: #fff;
      font-size:3rem;
      text-shadow: 5px 5px 5px #000;
      }
      .InnerWrapper .Scripture{
            font-size: 1.5rem;
          font-style: italic;
          color: #fff;
          font-weight: bolder;
          background: #20c997!important;
          padding: 2px;
           border-radius: 50px;
          width:150px;
          margin: auto;
        }
    .GuestWrapper{
      width:100%;
      height:500px;
      background-color: #e8ecec;  
    }
    
    .Covidwrapper{
      
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("../folwImages/congregation1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      width:80%;
        height: 400px !important;
      margin: auto;
    }
    .covidPara p{
      color:#fff;
      padding-left: 30px;
      font-size: 1.7rem;
      text-align:center;
    }
    .covidPara{
width:80%;
margin: auto;
    }
  
    .sectionThree .para p {
      font-size: 1.6rem;
      color:white;
  }
  .sectionThree .para  {
    font-weight: bold;
    text-align: center;
    width: 90%!important;
    margin: auto;
    position: relative;
    top:6rem;
  
  
  }
   
  .Scripture2 {
   font-size: 1rem!important;
   font-style: italic;
   color: #fff;
   font-weight: bolder;
   background: #20c997!important;
   padding: 3px;
    border-radius: 50px;
   text-align: center;
   width:175px;
   margin: auto;
  }
  
  
  }
  
  
  
  
 /*====================================meduia query===================*/   
@media only screen and (max-width:568px){
  *{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  html, body {
    font-size: 15px;
    color: #222;
     font-family: "Quicksand", sans-serif;
    width: 100%!important;
    height: 100% !important;
  }
  .InnerWrapper{
    max-width: 900px!important;
    width: 100%!important;
    text-align: center;
    z-index: 1;
    position: relative;
    top: 35% !important;
    left:50%;
    transform :translate(-50%, -50%);
  }
  .Celebration h3{
    font-size: 2rem!important;
    text-shadow: 5px 5px 5px #000;
  }
  .Celebration h4{
    font-size: 2rem!important;
    position: relative;
    top:-50px;
    color:#fff;
    text-shadow: 5px 5px 5px #000;

  }
  .Celebration {
    font-size: 2rem!important;
    width:100%;
    font-style: italic;
    color: #fff;
    position: relative;
    top:20rem;
   width: 100% !important;
   padding: 25px;
   left: 3%;
  text-align: center;
    }
  .InnerWrapper .InnerPara{
    color: #fff;
    position: relative;
    font-size:2.1rem;
    text-shadow: 5px 5px 5px #000;
    left: 10px;
    }
    .InnerWrapper .Scripture{
          font-size: 1.5rem;
        font-style: italic;
        color: #fff;
        font-weight: bolder;
        background: #20c997!important;
        padding: 2px;
         border-radius: 50px;
        width:150px;
        margin: auto;
      }
  .GuestWrapper{
    width:100%;
    height:500px;
    background-color: #e8ecec;  
  }
  .InnerWrapper .Scripture{
        font-size: 1rem;
      font-style: italic;
      color: #fff;
      font-weight: bolder;
      background: #20c997!important;
      padding: 2px;
       border-radius: 50px;

      width:150px;
      margin: auto;
    }

 

/*========end of covid==============*/
.sectionThree{
  width: 100%;
  height: 250px;
  position: relative;
top: 40% !important;

}  
.sectionThree .para p {
  font-size: 1.2rem;
  color:white;
}

.sectionThree .para  {
font-weight: bold;
text-align: center;
width: 85%!important;
margin: auto;
position: relative;
top: 15px !important;
left: 30px !important;

}

.Scripture2 {
font-size: 15px!important;
font-style: italic;
color: #fff;
font-weight: bolder;
background: #20c997!important;
padding: 2px;
border-radius: 50px;
text-align: center;
width:175px;
margin: auto;
}

    /*===========COVIDPAGE------========================*/
    .GuestWrapper{
      width:100%;
      height:500px;
      background-color: #e8ecec;  
    }
    .Covidwrapper{
      width:90%;
    }
    .covidPara{
      width:90%;
      margin: auto;
          }
    .covidPara p{
      color:#fff;
      font-size:1.2rem!important;
      text-align: center;
      line-height: 30px;
    }
}
 /*====================================meduia query===================*/   
 @media only screen and (max-width:480px){
  *{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  html, body {
    font-size: 15px;
    color: #222;
     font-family: "Quicksand", sans-serif;
    width: 100%!important;
    height: 100% !important;
  }
  .InnerWrapper{
    max-width: 900px!important;
    width: 100%!important;
    text-align: center;
    z-index: 1;
    position: relative;
    top: 30% !important;
    left:50%;
    transform :translate(-50%, -50%);
  }
  .Celebration h3{
    font-size: 1.2rem!important;
    text-shadow: 5px 5px 5px #000;
  }
  .Celebration h4{
    font-size: 1.2rem!important;
    position: relative;
    top:-50px;
    color:#fff;
    text-shadow: 5px 5px 5px #000;

  }
  .Celebration {
    font-size: 2rem!important;
    width:100%;
    font-style: italic;
    color: #fff;
    position: relative;
    top:6rem;
   width: 100% !important;
   padding: 25px;
   left: 3%;
  text-align: center;
    }
  .InnerWrapper .InnerPara{
    color: #fff;
    position: relative;
    font-size:2.2rem;
    text-shadow: 5px 5px 5px #000;
    left: 10px;
    }
  .InnerWrapper .Scripture{
        font-size: 1rem;
      font-style: italic;
      color: #fff;
      font-weight: bolder;
      background: #20c997!important;
      padding: 2px;
       border-radius: 50px;

      width:150px;
      margin: auto;
    }

 

/*========end of covid==============*/
.sectionThree{
  width: 100%;
  height: 250px;
  position: relative;
top: 40% !important;

}  
.sectionThree .para p {
  font-size: 1rem;
  color:white;
}

.sectionThree .para  {
font-weight: bold;
text-align: center;
width: 85%!important;
margin: auto;
position: relative;
top: 15px !important;
left: 30px !important;

}

.Scripture2 {
font-size: 12px!important;
font-style: italic;
color: #fff;
font-weight: bolder;
background: #20c997!important;
padding: 2px;
border-radius: 50px;
text-align: center;
width:175px;
margin: auto;
}

    /*===========COVIDPAGE------========================*/
    .GuestWrapper{
      width:100%;
      height:500px;
      background-color: #e8ecec;  
    }
    .Covidwrapper{
      width:90%;
    }
    .covidPara{
      width:90%;
      margin: auto;
          }
    .covidPara p{
      color:#fff;
      font-size:1rem!important;
      text-align: center;
      line-height: 30px;
    }
}