/* @media screen and (max-width: 568px) {
 
  .sidebar-toggle{
    width: 20vw !important;
    display: flex;
    justify-content: flex-end;
   
  
  }
  .sidebar-toggle i{
    color:#fff;
    font-size: 30px!important;
    top: -40px!important;
    position: relative!important;
  }
  .navbar-logo{
  
    top: -10px !important;
    left:-60px !important;
    
  }

  .navbar-logo .rccgPix{
    width: 20% !important;
    height: 20% !important;
     left:-60px !important;
    position: relative;
  }
  .navbar-logo .rccgpix_title {
    font-size: 15px!important;
    font-weight: bold;
    position: relative;
    top: 20px!important;
     left :110px !important;
  }

} */

.navbar{
  height:80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(120, 201, 99) 0%, rgb(106, 196, 118) 100%);
  position:fixed;
    width:100%;
    z-index: 1;
}

.navbar-logo{
  text-decoration: none!important;
  justify-content: center;
  z-index: 999;
  display: flex;
  position: relative;
  top:0px;
  left:-60px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .rccgPix {
    animation: rccgPix-spin infinite 20s linear;
  }
}
@keyframes rccgPix-spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}
.navbar-logo .rccgPix{
  width:30%;
  height:30%;
  border-radius: 50%;
}
.navbar-logo .rccgpix_title {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top:100px;
  margin-left: -160px;
}

.navbar-ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
    width:60vw;
    z-index: 999;
    margin-top: -10px;
}
.navbar-ul i{
  margin-left: 4px;
  color:#fff;
}

.navbar-linkLi{
  height:10vh;
  display: flex;
  align-items: center;
}
.navbar-linkLi a{
  text-decoration: none;
  color:#fff; 
  font-size: 1.2rem;
  margin-right: 2rem;
  }
  .navbar-linkLi a{
    text-decoration: none;
    color:#fff;
    font-size: 1.2rem;
    margin-right: 1.1rem;
    padding: 6px 10px;
    }
    .navbar-linkLi a:hover{
      background-color:  #8eeece;
      color:maroon;
      border-radius: 5px;
      font-weight: bold;
      transition: 0.5s ease-in-out;
      }

/*SIDEBAR=========================*/
 
.sidebar-toggle{
  width:45vw;
  display: flex;
  justify-content: flex-end;
}
.sidebar-toggle i{
  color:#fff;
  font-size: 35px;
  top: -10px!important;
  position: relative!important;
}
.sidebar{
  width:16rem;
  background-color: #f4f4f4;
  position: absolute;
  height:90vh;
  top:10vh;
  z-index: 1;
  transition: 0.3s ease-out;
  left:-100%;
}
.sidebar-ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s all ease-out ;
}
.sidebar-item{
  list-style: none;
  height: 3rem;
  margin-top: 1rem;
  width:100%;
  text-decoration: none;
}
.sidebar-item a{
  list-style: none;
  width:100%;
  text-decoration: none;
  color:maroon;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  justify-content: center;
  height:100%; 
  cursor: pointer;
  border-radius: 5px;
  transition:0.2s all ease-out;

}
.sidebar-item a:hover{
  background-color:  #fff!important;
  color:maroon;
}
.sidebar.active{
  left:0px;
}


/*
.rccgPix {
  width: 80px;
  height: 80px;
  opacity: 1;
  border-radius: 50%;
  pointer-events: none;
  margin-bottom: 10px;
  margin-left:60px;
}

@media (prefers-reduce d-motion: no-preference) {
  .rccgPix {
    animation: rccgPix-spin infinite 20s linear;
  }
}
@keyframes rccgPix-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media querry 568
.rccg2Img {
  position: absolute;
  top: 180px;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rccgpix_title {
  font-size: 15px;
  font-weight: bold;
}

.rccgPix {
  width: 80px;
  height: 80px;
  opacity: 1;
  border-radius: 50%;
  pointer-events: none;
  margin-bottom: 10px;
  margin-left:60px;
}

@media (prefers-reduced-motion: no-preference) {
  .rccgPix {
    animation: rccgPix-spin infinite 20s linear;
  }
}
@keyframes rccgPix-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .navbar {
  background: linear-gradient(90deg, rgb(120, 201, 99) 0%, rgb(106, 196, 118) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  z-index: 999;
  position:sticky;
}



.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #84e6c5;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  color:rgb(33, 104, 175);
  font-weight: bold;
  text-decoration: none;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {


  .NavbarItems {
    position: relative;

    
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #18b6ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    z-index: 999;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
} */ 